@charset "UTF-8";
body {
  margin: 0;
  letter-spacing: .05em;
  background: #E4DDB1;
}

.title {
  text-align: center;
}

.title h2 {
  margin: 40px 0 5px 0;
  color: #933E22;
  font-family: 'Georgia';
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 414px;
  height: 736px;
  margin: 20px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f3f3;
  overflow: hidden;
}

@media (max-width: 414px) {
  .phone {
    margin: 0;
  }
}

nav {
  z-index: 100;
}

.nav__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 5px 20px 0;
  list-style: none;
  color: #c2c2c2;
  font-size: 14px;
  line-height: 4em;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.nav__tab li {
  position: relative;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
}

.nav__tab li::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #FB3C3C;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.nav__tab li:first-child::after {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.nav__tab li:last-child::after {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.nav__tab li.active {
  color: #FB3C3C;
}

.nav__tab li.active::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

main .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-y: scroll;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

main.shift .content {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.product {
  position: relative;
  margin: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 5px;
}

.product .info-box img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product .info-box h2 {
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  color: #633F32;
}

.product .info-box p {
  margin: 0;
  color: #933E22;
}

.product .info-box p::before {
  content: "¥";
  margin-right: .3em;
}

.product .action-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #f3f3f3;
  padding: 10px 10px 10px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .action-box .round {
  width: 30px;
  height: 30px;
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 18px;
  background: #c3c3c3;
  border-radius: 50%;
  cursor: pointer;
}

.product .action-box span {
  display: inline-block;
  width: 2em;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.product .action-box > button {
  outline: 0;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  background: #FB3C3C;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.product .action-box > button:hover {
  background-color: #FD6C6C;
}

table {
  margin: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table tr {
  border-bottom: 1px solid #f3f3f3;
}

table th,
table td {
  min-width: 2em;
  width: 15%;
  padding: 15px;
  text-align: right;
}

table th:first-child,
table td:first-child {
  width: 40%;
  text-align: left;
}

table th:last-child,
table td:last-child {
  padding-right: 10px;
}

table thead {
  color: #933E22;
  font-size: 16px;
  text-align: left;
}

table thead .time {
  color: #c2c2c2;
  font-size: 14px;
  text-align: right;
}

table tbody {
  font-size: 14px;
}

table tbody .table-title {
  color: #c2c2c2;
  font-size: 12px;
}

table tbody .button-del {
  width: 30px;
  height: 30px;
  outline: 0;
  border: 0;
  padding: 0 0 .4em;
  color: #b6b6b6;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
}

table tfoot {
  color: #959595;
  font-size: 12px;
  background: #f9f9f9;
}

table tfoot .total-price {
  margin-left: 1em;
  color: #000;
  font-size: 20px;
}

.checkout {
  display: block;
  width: calc(100% - 2 * 20px);
  margin: 20px;
  outline: 0;
  border: 0;
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #FB3C3C;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 30px 20px 0;
  color: #FB3C3C;
  font-size: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.icon-container .circle,
.icon-container .check {
  fill: none;
  stroke: #FB3C3C;
  stroke-width: 3;
}

.icon-container .check {
  stroke-dasharray: 80 100;
  stroke-dashoffset: 80;
}

.icon-container.showing {
  opacity: 1;
  pointer-events: auto;
}

.icon-container.showing .check {
  -webkit-animation: check 0.3s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.2s;
          animation: check 0.3s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.2s;
}

@-webkit-keyframes check {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes check {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes circle {
  from {
    stroke-dashoffset: -300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes circle {
  from {
    stroke-dashoffset: -300;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=index.css.map */